<div class="header container">
    <div class="row">
        <div class="site-slogan1 col-4">
            <div class="row">
                <h2>Your one stop shop</h2>
            <div class="site-slogan2">
                <h3>for everything you dont need but want</h3>
            </div>
                <div class="row button-shop">
                    <a href="/SHOP">Start shopping</a>
                </div>
            </div>
        </div>
        <div class="site-image col-4">
            <img src="/assets/shopping.jpg" alt="idk" height="auto" width="auto">

        </div>
    </div>
</div>