.contact-info1{
    position: relative; top:20px;
    color: #861e35; 
    font-family:'Trebuchet MS',sans-serif, cursive;
    font-size: 20px; 
    text-align: left; 
    text-shadow: 0 1px 1px #fff;
}
.contact-info2{
    position: relative; top:20px;
    color: #64365d; 
    font-size: 20px; 
    font-family: "Libre Baskerville", serif; 
    text-align: left; 
    text-shadow: 0 1px 1px #fff; 
    padding-top: 5px; 
    background-color: aqua;
}
