.navbar{
    display: flex;
    background-color: #392768;
}
.site-name{
    padding: 15px 30px;
    color:#e2d0d0;
}
.site-menu{
    padding: 1rem;
    text-decoration:none;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    background-color: #ddd7e7;
    border-radius: 20px;
}

.site-menu:hover{
    color: white;
    background-color: #aa729e;
}

.site-menu:active{
    color: rgb(255, 255, 255);
    background-color: #6c3c7a;
}
a{
    text-decoration: none;
    color:#483b77;
    margin: 0px 20px;
}
